:root {
    --gs-gap-spacing: 1rem;

    --gs-visible-cols: 2;
    --gs-visible-cols-sm: 2.5;
    --gs-visible-cols-md: 3;
    --gs-visible-cols-lg: 4;
    --gs-visible-cols-xl: 6;

    --gs-pager-item-color: #d3d3d3;
}

[data-glider] {
    position: relative;

    [data-glider-grid] {
        --gs-visible-gaps: calc(round(up, var(--gs-visible-cols, 1), 1) - 1);
        display: grid;
        grid-auto-columns: calc((100% - var(--gs-visible-gaps) * var(--gs-gap-spacing)) / var(--gs-visible-cols));
        gap: var(--gs-gap-spacing);
        grid-auto-flow: column;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scrollbar-width: none;
        margin: 0.5rem 0;
    }

    [data-glider-item] {
        height: 100%;
        scroll-snap-align: start;
    }
}

// Media query based responsive variant
.glider-mq {

    [data-glider-grid] {
        @media (min-width: 576px) {
            --gs-visible-cols: var(--gs-visible-cols-sm);
        }

        @media (min-width: 768px) {
            --gs-visible-cols: var(--gs-visible-cols-md);
        }

        @media (min-width: 992px) {
            --gs-visible-cols: var(--gs-visible-cols-lg);
        }

        @media (min-width: 1200px) {
            --gs-visible-cols: var(--gs-visible-cols-xl);
        }
    }
}

[data-glider-pager] {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
}

[data-glider-pager-item] {
    border: none;
    width: 1rem;
    height: 1rem;
    background-color: var(--gs-pager-item-color);
    border-radius: 50%;
    cursor: pointer;

    &:hover,
    &:focus {
        outline: 2px solid color-mix(in oklch, var(--gs-pager-item-color), #000 15%);
    }

    &[data-state="active"] {
        background-color: color-mix(in oklch, var(--gs-pager-item-color), #000 10%);
    }
}

// Container query based responsive variant
@supports (container-type: inline-size) {

    .glider-cq {
        container-type: inline-size;
        container-name: glider-cq;

        --gs-visible-cols: 1.5;
        --gs-visible-cols-sm: 2.5;
        --gs-visible-cols-md: 3;
        --gs-visible-cols-lg: 5;
        --gs-visible-cols-xl: 7;

        --gs-cs-breakpoint-sm: 400px;
        --gs-cs-breakpoint-md: 600px;
        --gs-cs-breakpoint-lg: 800px;
        --gs-cs-breakpoint-xl: 1000px;

        [data-glider-grid] {

            @container glider-cq (min-width: var(--gs-cs-breakpoint-sm)) {
                --gs-visible-cols: var(--gs-visible-cols-sm);
            }

            @container glider-cq (min-width: var(--gs-cs-breakpoint-md)) {
                --gs-visible-cols: var(--gs-visible-cols-md);
            }

            @container glider-cq (min-width: var(--gs-cs-breakpoint-lg)) {
                --gs-visible-cols: var(--gs-visible-cols-lg);
            }

            @container glider-cq (min-width: var(--gs-cs-breakpoint-xl)) {
                --gs-visible-cols: var(--gs-visible-cols-xl);
            }
        }
    }
}
