:root {
    --gs-gap-spacing: 1rem;

    --gs-visible-cols: 2;
    --gs-visible-gaps: 1;

    --gs-visible-cols-sm: 3.8;
    --gs-visible-cols-md: 3;
    --gs-visible-cols-lg: 4;
    --gs-visible-cols-xl: 6;

    --gs-visible-gaps-sm: 3;
    --gs-visible-gaps-md: 2;
    --gs-visible-gaps-lg: 3;
    --gs-visible-gaps-xl: 5;

    --gs-pager-item-color: #d3d3d3;
}

[data-glider] {
    position: relative;

    [data-glider-grid] {
        display: grid;
        grid-auto-columns: calc((100% - var(--gs-visible-gaps) * var(--gs-gap-spacing)) / var(--gs-visible-cols));
        gap: var(--gs-gap-spacing);
        grid-auto-flow: column;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scrollbar-width: none;
        margin: 0.5rem 0;
    }

    [data-glider-item] {
        height: 100%;
        scroll-snap-align: start;
    }
}

// Media query based responsive variant
.glider-mq {

    [data-glider-grid] {
        @media (min-width: 576px) {
            --gs-visible-cols: var(--gs-visible-cols-sm);
            --gs-visible-gaps: var(--gs-visible-gaps-sm);
        }

        @media (min-width: 768px) {
            --gs-visible-cols: var(--gs-visible-cols-md);
            --gs-visible-gaps: var(--gs-visible-gaps-md);
        }

        @media (min-width: 992px) {
            --gs-visible-cols: var(--gs-visible-cols-lg);
            --gs-visible-gaps: var(--gs-visible-gaps-lg);
        }

        @media (min-width: 1200px) {
            --gs-visible-cols: var(--gs-visible-cols-xl);
            --gs-visible-gaps: var(--gs-visible-gaps-xl);
        }
    }
}

[data-glider-pager] {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
}

[data-glider-pager-item] {
    border: none;
    width: 1rem;
    height: 1rem;
    background-color: var(--gs-pager-item-color);
    border-radius: 50%;
    cursor: pointer;

    &:hover, &:focus {
        outline: 2px solid color-mix(in oklch, var(--gs-pager-item-color), #000 15%);
    }

    &[data-state="active"] {
        background-color: color-mix(in oklch, var(--gs-pager-item-color), #000 10%);
    }
}

// Container query based responsive variant
@supports (container-type: inline-size) {

    .glider-cq {
        container-type: inline-size;
        container-name: glider-cq;

        [data-glider-grid] {
            --gs-visible-cols: 2.5;
            --gs-visible-gaps: 2;

            @container glider-cq (min-width: 510px) {
                --gs-visible-cols: 3;
                --gs-visible-gaps: 2;
            }

            @container glider-cq (min-width: 690px) {
                --gs-visible-cols: 4;
                --gs-visible-gaps: 3;
            }

            @container glider-cq (min-width: 930px) {
                --gs-visible-cols: 5;
                --gs-visible-gaps: 4;
            }

            @container glider-cq (min-width: 1080px) {
                --gs-visible-cols: 6;
                --gs-visible-gaps: 5;
            }
        }
    }
}
