:root {
    --glider-spacing: 1rem;
    --glider-top-padding: 0.5rem;
    --glider-right-padding: calc((100% - 80rem) / 2 + 7.75rem);
    --glider-bottom-padding: 0.5rem;
    --glider-left-padding: 0;
    --glider-peek: 0;
    --glider-spacing: 1rem;

    --glider-grid-columns: 2;
    --glider-grid-columns-sm: 3.8;
    --glider-grid-columns-md: 3;
    --glider-grid-columns-lg: 4;
    --glider-grid-columns-xl: 6;

}

[data-glider] {
    position: relative;

    [data-glider-grid] {
        display: grid;
        grid-auto-columns: calc(100% / (2 + var(--glider-peek)) - var(--glider-spacing));
        gap: var(--glider-spacing);
        grid-auto-flow: column;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scrollbar-width: none;
        padding: 0.5rem;
    }

    [data-glider-item] {
        height: auto;
        scroll-snap-align: start;
        aspect-ratio: 9 / 16;
    }
}

// Media query based responsive variant
.glider-mq {

    [data-glider-grid] {
        @media (min-width: 576px) {
            grid-auto-columns: calc(97% / 3.8);
        }

        @media (min-width: 768px) {
            grid-auto-columns: calc(97% / 3);
        }

        @media (min-width: 992px) {
            grid-auto-columns: calc(96% / 4);
        }

        @media (min-width: 1200px) {
            grid-auto-columns: calc(94%/6);
        }

        @media (min-width: 992px) {
            &.glider-grid-6-cols {
                grid-auto-columns: 32%;
            }
        }
    }
}

[data-glider-pager] {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
}

[data-glider-pager-item] {
    border: none;
    width: 1rem;
    height: 1rem;
    background-color: #d3d3d3;
    border-radius: 50%;
    cursor: pointer;

    &:hover, &:focus {
        outline: 2px solid #7d7d7d;
    }

    &[data-state="active"] {
        background-color: #a9a9a9;
    }
}

// xl: 1080 (6)
// lg: 930 (4)
// md: 690 (3)
// sm: 510 (3.5)

// Container query based responsive variant
@supports (container-type: inline-size) {

    .glider-cq {
        container-type: inline-size;
        container-name: glider-cq;

        [data-glider-grid] {
            @container glider-cq (min-width: 510px) {
                grid-auto-columns: calc(96% / 3);
            }

            @container glider-cq (min-width: 690px) {
                grid-auto-columns: calc(96% / 3);
            }

            @container glider-cq (min-width: 930px) {
                grid-auto-columns: calc(96% / 4);
            }

            @container glider-cq (min-width: 1080px) {
                grid-auto-columns: 15.7%;
            }
        }
    }
}
